* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "azeret mono";
}

.name{
    font-size: 24px;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    /* font-size: 28px; */
}

header a{
    text-decoration: none;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    color: black;
}

#hero-container{
    background-image: url('assets/Hero-bg.png');
    display: flex;
    height: 652px;
    justify-content: center;
    align-items: center;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 998px;
    height: 581px;
    gap: 32px;
    text-align: center;
}

#hero h2 {
    font-size: 48px;
}

#hero a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 12px;
    margin: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:70px 250px;
    
}

.centered-text {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.centered-text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.centered-text p {
    font-size: 16px;
    line-height: 1.5;
}


#why {
    margin: 80px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 5px;
}

.why-card {
    display: flex;
    align-items: center;
    gap: 96px;
    justify-content: space-between;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) , rgba(255, 255, 255, 1));
    width: 100%;
    padding: auto;
    border-radius: 10px;
}

#second {
    flex-direction: row-reverse;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) , rgba(255, 255, 255, 1));
}

.why-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.why-content a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8px;
    margin-right: auto;
}

iframe{
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 10%);
}
.inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 90px 0;
    gap: 30px;
}