* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "azeret mono";
}

.name{
    font-size: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    /* font-size: 28px; */
}

header a{
    text-decoration: none;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    color: black;
    
}