* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "azeret mono";
}

.name{
    font-size: 24px;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    /* font-size: 28px; */
}

header a{
    text-decoration: none;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    color: black;
}

#hero-container{
    background-image: url('assets/Hero-bg.png');
    display: flex;
    height: 652px;
    justify-content: center;
    align-items: center;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 998px;
    height: 581px;
    gap: 32px;
    text-align: center;
}

#hero h2 {
    font-size: 48px;
}

#hero a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 12px;
    margin: 20px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:70px 250px;
    
}

.centered-text {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.centered-text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.centered-text p {
    font-size: 16px;
    line-height: 1.5;
}


#why {
    margin: 80px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 80px 97px;
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 5px;
}

.why-card {
    display: flex;
    align-items: center;
    gap: 96px;
    justify-content: space-between;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) , rgba(255, 255, 255, 1));
    width: 100%;
    padding: auto;
    border-radius: 10px;
}

#second {
    flex-direction: row-reverse;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) , rgba(255, 255, 255, 1));
}

.why-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.why-content a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 8px;
    margin-right: auto;
}

iframe{
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 10%);
}
.inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 90px 0;
    gap: 30px;
}

.my-current-target{
    width: 1140px;
    height: 506px;
    margin: 130px auto;
}
.my-current-target-heading{
    margin: 0 144px 48px 144px;
    text-align: center;

}
.my-current-target-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my-current-target-item{
    width: 364px;
    height: 360px;
    border-radius: 16px;
    padding: 40px;
}
.my-current-target-item-title{
    font-size: 24px;
    font-weight: 800;
    margin: 24px 0 8px 0;
}
.my-current-target-item-btn{
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-top: 24px;
    border: none;
    border-bottom:2px solid #0D1321 ;
    cursor: pointer;
}
.current-target-item-1{
    background-color: #ff4b1e15;
}
.current-target-item-2{
    background-color: #004de815;
}
.current-target-item-3{
    background-color: #ffdd0015;
}

.text-format-1{
    font-weight: 800;
    margin-bottom: 20px;
}

.need-support-section {
    width: 1140px;
    height: 313px;
    /* border: 2px solid rgb(0, 0, 0); */
    margin: 0 auto;
    background-image: url(./assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
  }
  .need-support-div {
    margin: 64px 48px;
  }
  .need-support-div h2 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  .need-support-div p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }
  .need-support-div div {
    text-align: center;
  }
  .need-support-div input[type="text"] {
    padding: 15px;
    width: 300px;
    border-radius: 10px;
  }
  .need-support-div input[type="submit"] {
    padding: 15px;
    border-radius: 10px;
  }
  